USE [zadanie_new]
GO
/****** Object:  UserDefinedFunction [dbo].[Task12.v1]    Script Date: 11.02.2023 14:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[Task12.v1]
(	
	@urzadzenieId INT
)
RETURNS TABLE 
AS
RETURN 
(
	--Pobieram awarie danego urządzenia i sprawdzam czy zawiera się w dacie zlecenia
	--zwracam liste zlecen którym nie zagraża awaria danego urządenia w danym oddziale
	SELECT ust.id as usterkaId, ust.data_zgloszenia, ust.poczatek_naprawy, ust.koniec_naprawy, z.id as zlecenieId, z.data_zlecenia, z.opis, o.nazwa, o.kod_oddzialu, o.id as oddzialId
	FROM dbo.usterka ust
	INNER JOIN dbo.urzadzenie urz ON ust.urzadzenie_id=urz.id
	left join dbo.zlecenie_realizacja as zr on  zr.zlecenie_id = ust.id 
	left join dbo.zlecenia as z on z.id = zr.zlecenie_id
	left join dbo.oddzial as o on o.id = zr.oddzial_id
	where urz.id = @urzadzenieId
	and z.data_zlecenia  not between ust.poczatek_naprawy and ust.koniec_naprawy 
)
